/.idea/
/.project
/target
/.settings
.classpath
.project
/logs
/bin
target/**
.settings
.target
.idea
.git
**/target/
**/WEB-INF/lib/
**/WEB-INF/classes/
buid
*.psd
**/deploy/*.log
**/webapp/public/*
.idea/
*.iml
.externalToolBuilders/
.metadata/**
.DS_Store
/disconf/download2
/**/nsf-agent-1.0-SNAPSHOT-jar-with-dependencies.jar
/**/nsf-agent-premain-1.0-SNAPSHOT-jar-with-dependencies.jar
/**/logs/
/**/nsf-agent-1.0.jar
/**/nsf-agent-premain-1.0.jar
/nsf-agent/nsf-agent.jar
/nsf-agent/nsf_agent_ids.properties
